@media (max-width:960px) {
    .hamburger {
        display: block;
    }
    .menu-list{
        position: absolute;
        flex-direction: column;
        gap: 0;
        background-color: #fff;
        top: 100px;
        right: -200px;
        border-radius: 18px;
    }

    .menu-list a{
        color: #000;
        font-weight: 600;
        padding-block: 12px;
        padding-inline: 30px;
    }

    .menu-list a:not(:last-child){
        border-bottom: 2px solid #000;
    }

    .menu-list a.active{
        color: #000;
        border-bottom: 2px solid #000;
    }

    .menu-list a:hover{
        color: #000;
    }
}